*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #333;
	color: #e6e6e6;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* Debug */
body * {
	/* outline: .5px solid red; */
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  width: 100%;
}
